<h1>Votre achat a bien été effectué, <%= firstName %>.</h1>
<p>Merci pour votre achat de <%= totalPrice %> € (TTC) chez Skyline Architectes. Vous avez acquis <%= quantity %> Go de stockage, amenant votre espace total disponible à <%= newStorage %> Go.</p>
<p>Une facture a également été éditée ; vous pouvez la retrouver en vous rendant sur votre espace personnel Skyline Architectes puis sur la page <a href="<%- invoicesUrl %>">Factures</a>, ou en suivant ce lien : <a href="<%- invoicesUrl %>"><%= invoicesUrl %></a></p>
<p>À bientôt !<br>L’équipe de Skyline Architectes</p>
