<h1>Bienvenue, <%= firstName %> !</h1>
<p>Votre compte a bien été créé. Vous pouvez désormais vous connecter à l’application avec l’adresse e-mail <pre><%= email %></pre> et le mot de passe créé précédemment.</p>
<p><a href="<%- appUrl %>">Cliquez ici pour accéder à l’application</a>, ou copiez-collez le lien suivant dans votre navigateur : <a href="<%- appUrl %>"><%= appUrl %></a></p>
<p>À bientôt !<br>L’équipe de Skyline Architectes</p>
